U1 INTRODUCCIÓN A LOS LENGUAJES DE MARCAS. XML/U1_T2/Ej2.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name,address+,phone)>
<!ATTLIST student dni CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (street,number,city,province)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>
<!ELEMENT phone (#PCDATA)>